.darkModeButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}

.lightMode {
  background-color: hsl(233, 11%, 84%);
  background-image: url("../../../public/images/bg-desktop-light.jpg");
  color: hsl(235, 19%, 35%);

}

.lightMode > div > main > .container > .content > div > .tarefasLista {
    background-color:  hsl(236, 33%, 92%);
}

.lightMode > div > main > .container > .content > div > .tarefasLista > .formText {
    background-color: hsl(236, 33%, 92%);
    border-bottom: 1px solid hsl(233, 11%, 84%);
    color: hsl(235, 19%, 35%);

}
.lightMode > div > main > .container > .content > .tarefas {
    background-color: hsl(236, 33%, 92%);
    border-bottom: 1px solid hsl(233, 11%, 84%);
    color: hsl(235, 19%, 35%);
}

.lightMode > div > main > .container > form > .formText {
    background-color: hsl(236, 33%, 92%);
    color: hsl(235, 19%, 35%);

}


.lightMode > div > main > .container > .content > div > .tarefasLista > .formText > .checkbox {
    border: 1px solid hsl(233, 11%, 84%);
}

.lightMode > div > main > .container > .content > div > .tarefasLista > .formText > .checkbox:hover {
    border: 1px solid transparent;

    background-image: linear-gradient(hsl(236, 33%, 92%), hsl(236, 33%, 92%)), 
    linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}


.lightMode > div > main > .container > .content > div > .tarefasLista > .formText > .checkbox:checked {
    background: no-repeat center/60% url("../../../public/images/icon-check.svg"), linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    background-position: center;

}


.lightMode > div > main > .container > form > .checkbox {
    border: 1px solid hsl(233, 11%, 84%);
}

.lightMode > div > main > .container > form > .checkbox:hover {
    border: 1px solid transparent;

    background-image: linear-gradient(hsl(236, 33%, 92%), hsl(236, 33%, 92%)), 
    linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}


.lightMode > div > main > .container > form > .checkbox:checked {
    background: no-repeat center/60% url("../../../public/images/icon-check.svg"), linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    background-position: center;

}

.lightMode > div > main > .container > .content > .footer {
    background-color: hsl(236, 33%, 92%);
}


.lightMode > div > main > .container > .content > .footer > .selected {
    background-color: hsl(236, 33%, 92%);
    box-shadow: 5px 15px 17px 0.5px rgba(0, 0, 0, 0.251);

}


