@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

#root {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  
  background-image: url("../public/images/bg-desktop-dark.jpg");
  background-color: #181824;
  background-size: contain;
  background-repeat: no-repeat;
}


.container {
  min-width: 50vw;
}


.bg-header {
  margin-bottom: 60px;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.bg-header > h1 {
  margin: none;
  letter-spacing: 0.5em;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
}

.content {
  box-shadow: 5px 15px 17px 0.5px rgba(0, 0, 0, 0.251);
}

@media (max-width: 900px) {
  body {
    background-image: url("../public/images/bg-mobile-dark.jpg");
    background-size: 100% 30%;
  }
  
}


